:root {
    /* Primary */

--blue: hsl(246, 80%, 60%);

--light-red-work: hsl(15, 100%, 70%);
--soft-blue-play: hsl(195, 74%, 62%);
--light-red-study: hsl(348, 100%, 68%);
--lime-green-exercise: hsl(145, 58%, 55%);
--violet-social: hsl(264, 64%, 52%);
--soft-orange-self-care: hsl(43, 84%, 65%);

/* Neutral */

--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);

--card-title-font: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'Rubik', sans-serif;
    background-color: var(--very-dark-blue);
}

p {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 15% 10%;
}

.container .card {
    width: 100%;
    border-radius: 10px;
    background-color: var(--dark-blue);
    margin-bottom: 5%;
}

.container .card .card_profile {
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    border-radius: 10px;
    align-items: center;
}

.container .card .card_profile img {
    width: 75px;
    height: 75px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    margin: 8% 6%;
}

.container .card .card_profile > p {
    display: inline-flex;
    flex-direction: column;
    margin: 10% 10% 10% 0;
    color: var(--pale-blue);
    /* word-spacing: 5px; */
    font-weight: 300;
}

.container .card .card_profile p > span{
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;
    letter-spacing: 2px;
}

.container .card .card_title_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.container .card .card_title_content p {
    color: var(--desaturated-blue);
    padding: 15px 20px;
}

.container .card .card_title_content p:hover {
    color: var(--pale-blue);
    cursor: pointer;
}

/* =========== Work Start =========== */

.container .work_bg {
    background-color: var(--light-red-work);
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 95% -10%;
    background-size: 15%;
    
}

.container .card .card_work {
    height: 30px;
}

.container .card .card_work_content {
    border-radius: 10px;
    height: 100px;
    padding: 20px 0px 20px 20px;
    color: var(--pale-blue);
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .card .card_work_content .work_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .card .card_work_content .dots {
    text-align: right;
    margin-right: 20px;
}

.container .card .card_work_content .dots .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.container .card .card_work_content .previous_text {
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}

/* =========== Work End =========== */

/* =========== Play Start =========== */

.container .play_bg {
    background-color: var(--soft-blue-play);
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: 95% -10%;
    background-size: 15%;
}

.container .card .card_play {
    height: 30px;
}

.container .card .card_play_content {
    border-radius: 10px;
    height: 100px;
    padding: 20px 0px 20px 20px;
    color: var(--pale-blue);
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .card .card_play_content .play_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .card .card_play_content .dots {
    text-align: right;
    margin-right: 20px;
}

.container .card .card_play_content .dots .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.container .card .card_play_content .previous_text {
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}

/* =========== Play End =========== */

/* =========== Study Start =========== */

.container .study_bg {
    background-color: var(--light-red-study);
    background-image: url(../images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: 95% -10%;
    background-size: 15%;
}

.container .card .card_study {
    height: 30px;
}

.container .card .card_study_content {
    border-radius: 10px;
    height: 100px;
    padding: 20px 0px 20px 20px;
    color: var(--pale-blue);
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .card .card_study_content .study_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .card .card_study_content .dots {
    text-align: right;
    margin-right: 20px;
}

.container .card .card_study_content .dots .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.container .card .card_study_content .previous_text {
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}

/* =========== Study End =========== */

/* =========== Exercise Start =========== */

.container .exercise_bg {
    background-color: var(--lime-green-exercise);
    background-image: url(../images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: 95% 0%;
    background-size: 15%;
}

.container .card .card_exercise {
    height: 30px;
}

.container .card .card_exercise_content {
    border-radius: 10px;
    height: 100px;
    padding: 20px 0px 20px 20px;
    color: var(--pale-blue);
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .card .card_exercise_content .exercise_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .card .card_exercise_content .dots {
    text-align: right;
    margin-right: 20px;
}

.container .card .card_exercise_content .dots .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.container .card .card_exercise_content .previous_text {
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}

/* =========== Exercise End =========== */

/* =========== Social Start =========== */

.container .social_bg {
    background-color: var(--violet-social);
    background-image: url(../images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: 95% -15%;
    background-size: 15%;
}

.container .card .card_social {
    height: 30px;
}

.container .card .card_social_content {
    border-radius: 10px;
    height: 100px;
    padding: 20px 0px 20px 20px;
    color: var(--pale-blue);
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .card .card_social_content .social_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .card .card_social_content .dots {
    text-align: right;
    margin-right: 20px;
}

.container .card .card_social_content .dots .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.container .card .card_social_content .previous_text {
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}

/* =========== Social End =========== */

/* =========== Self Care Start =========== */

.container .self_care_bg {
    background-color: var(--soft-orange-self-care);
    background-image: url(../images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: 95% -15%;
    background-size: 15%;
}

.container .card .card_self_care {
    height: 30px;
}

.container .card .card_self_care_content {
    border-radius: 10px;
    height: 100px;
    padding: 20px 0px 20px 20px;
    color: var(--pale-blue);
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container .card .card_self_care_content .self_care_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .card .card_self_care_content .dots {
    text-align: right;
    margin-right: 20px;
}

.container .card .card_self_care_content .dots .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.container .card .card_self_care_content .previous_text {
    text-align: right;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 12px;
}

/* =========== Self Care End =========== */

/* =========== Attribution Start =========== */

.attribution { 
    font-size: 11px; text-align: center; 
    color: var(--pale-blue);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* =========== Attribution End =========== */